@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.side_panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  height: 100vh;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0%;
}